### Gradle ###
.gradle
build/
!**/src/**/build
!**/test/**/build
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/.name
.idea/shelf
.idea/artifacts
.idea/compiler.xml
.idea/csv-plugin.xml
.idea/gradle.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/jarRepositories.xml
.idea/libraries
.idea/libraries/Gradle*.xml
.idea/libraries/Maven*.xml
.idea/libraries-with-intellij-classes.xml
.idea/misc.xml
.idea/modules.xml
.idea/protoeditor.xml
.idea/remote-targets.xml
.idea/runConfigurations/JPS_*.xml
.idea/runConfigurations/_JPS_*.xml
.idea/runConfigurations/PILL_*.xml
.idea/runConfigurations/_FP_*.xml
.idea/runConfigurations/_MT_*.xml
.idea/uiDesigner.xml
.kotlin/
.teamcity/
*.iml
*.ipr
*.iws
buildSrcTmp/
distTmp/
kotlin-ide/
libraries/tools/kotlin-test-js-runner/lib/
local.properties
/idea/testData/debugger/tinyApp/classes*
/ideaSDK
/intellij
/kotlin-native/dist
/test.output
out/
outTmp/
!**/src/main/**/out/
!**/src/test/**/out/
!**/testData/**/*.iml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Other ###
/confluence/target
/dependencies/repo
/local
/gh-pages
/clionSDK
/tmp
workspace.xml
*.versionsBackup
/jps-plugin/testData/kannotator
/js/js.translator/testData/out/
/js/js.translator/testData/out-min/
/js/js.translator/testData/out-pir/
node_modules/
.rpt2_cache/